extends layout
block pageConfig
  - var hideNav = true

block content
    .row.absolute.home-row
      .col.s6
        .card-panel(style='min-height: 19em')
          h3 Introduction to Sentiment Sweep
          p Sentiment Sweep aims to captcha the mood of the internet, either
            | overall or towards a specific topic.
            | It does this by analysing real-time Twitter data, and calculating
            | how positive or negative each Tweet it.

          p A series of dynamic data visualisations are then used to
            | illustrate the results, and find trends between sentiment and
            | other factors such as time of day, location, topic, country, people...

      .col.s6
        .card-panel(style='min-height: 19em')
          h3 Get started, enter a search term...
          .input-field
            input#txtKeyword.validate(type='text')
            label(for='txtKeyword') Enter a keyword, topic, brand, celebrity or search term

          h3 ... or click one of the links below

    #chart.home-hexagons

    .section.white
        .row
          each page in pages
            .col.s4
              a(href='/#{page.page}')
                .card.home-card
                  .card-image.waves-effect.waves-block.waves-light
                    img(src='/images/thumbnails/thumb_#{page.index}.png')
                  .card-content
                    span.card-title.grey-text.text-darken-4= page.title

block scripts
  script.
    var homePage = true;
    var results = !{JSON.stringify(data)};
    var average = !{JSON.stringify(averageSentiment)};

    $('#txtKeyword').keyup(function (e) { if (e.keyCode === 13) {
        showLoader(); window.location = '/search/' + $('#txtKeyword').val();
      }});

    $(document).ready(function(){
        $('#chart').find('svg').attr({'height': $(window).height()+20, 'width': $(window).width()});

        $(".home-row")
        .animate(
        {'margin-top': $(window).height() / 5},
        { duration: 600, step: function (now) { $(this).attr("margin-top", now); }
        });
    });


  script(type = 'text/javascript', src = '/bower_components/d3/d3.min.js')
  script(type = 'text/javascript', src = '/bower_components/hexbin/index.js')
  script(type = 'text/javascript', src = '/bower_components/d3tip/index.js')
  script(type='text/javascript', src='/javascripts/charts/hexagons-module.js')

