extends layout

block content

    .container
        .row
            for result, index in data
                - var topic = result.searchTerm.charAt(0).toUpperCase() + result.searchTerm.slice(1)
                div(class='col s#{12/data.length}')
                    h3= topic
                    .card-panel
                        p The overall average sentiment for <i>'#{topic}'</i> is:
                        if result.averageSentiment > 0
                            p(style='color: green; font-size: 1.5em') Positive (<b>#{Math.round(result.averageSentiment * 100)}%</b>)
                        else if result.averageSentiment < 0
                            p(style='color: darkred; font-size: 1.5em') Negative (<b>#{Math.round(result.averageSentiment * -100)}%</b>)
                        else
                            p(style='color: grey; font-size: 1.5em') Neutral

                    .card-panel
                        h4.flow-text Summary of Tweets for <i>'#{topic}'</i>
                        div(id='chart-#{index}')

                    .card-panel
                        h4.flow-text Top words used in <i>'#{topic}'</i> Tweets
                        ol
                            for wordObject in result.keywordData
                                if wordObject.sentiment > 0
                                    - var color = 'green'
                                else if wordObject.sentiment < 0
                                    - var color = 'darkred'
                                else
                                    - var color = 'dimgrey'
                                li
                                    a(href='/search/#{wordObject.text}', style='color: #{color}; font-size: 1.1em; font-weight: bold;') #{wordObject.text}


                    .card-panel
                        h4.flow-text View more data visualisations for <i>'#{topic}'</i>
                        a.waves-effect.waves-teal.btn-flat.block(href='/word-cloud/#{topic}') Word Cloud
                        a.waves-effect.waves-teal.btn-flat.block(href='/regional-map/#{topic}') Regional Map
                        a.waves-effect.waves-teal.btn-flat.block(href='/map/#{topic}') Heat Map
                        a.waves-effect.waves-teal.btn-flat.block(href='/globe/#{topic}') 3D Globe
                        a.waves-effect.waves-teal.btn-flat.block(href='/timeline/#{topic}') TimeLine
                        a.waves-effect.waves-teal.btn-flat.block(href='/text-tweets/#{topic}') Raw Tweets
                        a.waves-effect.waves-teal.btn-flat.block(href='/entity-extraction/#{topic}') Entity Extraction
                        a.waves-effect.waves-teal.btn-flat.block(href='/break-down/#{topic}') Topic Breakdown



block scripts
    script(type='text/javascript').
        var results = !{JSON.stringify(data)};

    script(type = 'text/javascript', src = '/bower_components/d3/d3.min.js')
    script(type='text/javascript', src='/bower_components/c3/c3.min.js')
    script(type='text/javascript', src='/javascripts/charts/comparer.js')

