extends layout
block head
    link(rel='stylesheet', href='/bower_components/Autocompleter/jquery.autocompleter.css')
    script(src='https://www.gstatic.com/charts/loader.js')
    script(src='https://www.google.com/jsapi')
block content

    div(style='width: 80%; margin: 1em auto;').center-block
        div.row.card-panel(style='padding: 0.5em')
            div.col.s5
                label.active(for='txtKeyword') Enter keyword or topic to fetch new Tweets
                input#txtKeyword.validate(type='text', value='#{summary_text.searchTerm}')
            div.col.s2
                p(style='text-align: center') OR
            div.col.s5
                label.active(for='txtLocation') Enter a country or region
                input#txtLocation.validate(type='text', value='#{summary_text.searchRegion}')


        div#regions_div.card-panel(style='width: 100%; padding: 0.5em').center-block

        br

        div.row.card-panel(style='padding: 1em')
            h2 Geographic Sentiment Map
            div.col.s6
                p !{summary_text.mapShowing}
            div.col.s6
                p !{summary_text.sentimentSummary}
            div.col.s6
                h5 Most Positive Regions
                ul
                for res in data.slice(data.length-10,data.length).reverse()
                    li.flow-text #{res[0]} (<b style='color: green'>#{Math.round(res[1]*100)}%</b>)
            div.col.s6
                h5 Most Negative Regions
                ul
                for res in data.slice(3,13)
                    li.flow-text #{res[0]} (<b style='color: darkred'>#{Math.round(res[1]*100)}%</b>)
            br
            br
block scripts
    script(type='text/javascript', src='/bower_components/Autocompleter/jquery.autocompleter.min.js')
    script(type='text/javascript').
        var sentimentResults = !{JSON.stringify(data)};
        var searchRegion = !{JSON.stringify(summary_text.searchRegion)};
        var csvRegions = !{JSON.stringify(csvRegions)};
    script(type='text/javascript', src='/javascripts/regions.bundle.js')