extends layout

block head
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

block content


    div.row.center-block(style='width: 90%')
        div.col.s6.offset-s2.card-panel.input-field(style='height: 4em;')
            input#txtKeyword.validate(type='text')
            label(for='txtKeyword', style='margin-top: 1em') Enter a keyword, topic or search term to fetch new Tweets
        div.col.s2.offset-s1.card-panel(style='height: 4em;')
            div.switch(style='margin-top: 1.5em')
                label
                    | Pause
                    input#showLive(type='checkbox', checked="checked" )
                    span.lever
                    | Live Tweets

    div.row.center-block(style='width: 90%')
        div.col.s6#positiveContainer
            for tweet in data.positive
                div.card-panel
                    div.pull-right
                        b(style='color: green') #{tweet.sentiment*100}%
                    p !{tweet.body}
                    i.tiny.material-icons.small-grey.inline location_on
                    p.small-grey.inline= tweet.location


        div.col.s6#negativeContainer
            for tweet in data.negative
                div.card-panel
                    div.pull-right
                        b(style='color: darkred') #{tweet.sentiment * 100}%
                    p !{tweet.body}
                    i.tiny.material-icons.small-grey.inline location_on
                    p.small-grey.inline= tweet.location



block scripts
    script(type='text/javascript', src='https://cdn.socket.io/socket.io-1.4.3.js')
    script(type='text/javascript').
        var results = !{JSON.stringify(data)};
        var searchTerm = !{JSON.stringify(searchTerm)};
    script(type='text/javascript', src='/javascripts/charts/text-tweets.js')

